/*Start header styling*/
header .story_list {
    background-color: #16243c;
    color: white;
}
/*End header styling*/

/*Start main styling*/
main .afg {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

main .afg_img {
    width: 95%;
    height: 200px;
    border-radius: 1rem;
    padding: 10px;
}

main .travel{
    display: grid;
    grid-template-columns: 2fr 1fr;   
}

main .travel_img{
    width: 95%;
    height: 200px;
    border-radius: 1rem;
    padding: 10px;
}
/*End main styling*/